[2016-11-16 16:03] bronaghs opened #11 "Filter out events from the Classic providers"
We do not support the Azure Classic providers which are part of the older Azure ASM API. However, the event filter does not exclude events from Classic providers, this means we are accepting and storing many unnecessary events.

[2016-11-16 16:03] bronaghs commented on #11
@miq-bot assign @bronaghs

[2016-11-28 18:04] #11 closed

[2017-02-06 10:22] durandom opened #31 "orchestration stack spec in core repo"
There is still this https://github.com/ManageIQ/manageiq/blob/master/spec/models/manageiq/providers/azure/cloud_manager/orchestration_stack_spec.rb

can this be moved over here?

[2017-02-06 10:23] durandom commented on #31
cc @bzwei

[2017-02-06 14:55] djberg96 commented on #31
Looks like it's already there:

https://github.com/ManageIQ/manageiq-providers-azure/blob/master/spec/models/manageiq/providers/azure/cloud_manager/orchestration_stack_spec.rb

So, it just needs to be removed from the core repo. I'll put in a PR today.

[2017-02-08 15:12] bdunne commented on #31
Please cherry-pick https://github.com/ManageIQ/manageiq/commit/942ef0658f5dab4d3d0504ebd4d9cf95bcc7528c before closing this issue.

[2017-02-08 15:29] djberg96 commented on #31
@bdunne https://github.com/ManageIQ/manageiq-providers-azure/pull/35

[2017-02-28 21:16] djberg96 commented on #31
@durandom I believe you can close this now.

[2017-03-01 09:42] #31 closed

[2017-03-13 17:02] djberg96 opened #39 "Warning - uninitialized constant Azure::Armrest::UnauthorizedException"
Somehow I'm seeing this when I try to add an Azure provider:

[code]

I'm not sure how this can happen since it clearly is defined:

[code]

Is there some kind of load ordering issue?

[2017-03-13 17:02] djberg96 commented on #39
@bzwei @bronaghs Any ideas?

[2017-03-13 17:44] djberg96 commented on #39
I think this happens when I "re-check validation status" from the menu.

[2017-03-14 14:17] bzwei commented on #39
@djberg96 I am also guessing this is a load ordering issue but I have very little knowledge of the matter.

[2017-04-10 13:57] djberg96 opened #45 "The api-version for each service should be locked down"
Each service class in the azure-armrest gem has its own api-version. This "api-version=" string is attached to every http request to Azure. By default it will use the latest non-preview version string.

Normally this is fine. However, on rare occasion Azure does alter the behavior of the request, typically by changing the output format. In such situations fixing it for a customer in the field woul

[2017-04-10 14:30] djberg96 commented on #45
@bronaghs @bzwei @durandom Thoughts?

[2017-04-10 15:51] bzwei commented on #45
I agree.

[2017-04-12 07:29] durandom opened #46 "move service dialogs from core"
https://github.com/ManageIQ/manageiq/pull/14668 has been merged. Now we can also seed `content/service_dialogs`. Looks like there is at least one for azure.

@djberg96 do you want to move this over here?

[2017-04-12 08:51] durandom commented on #45
Sounds good. Remember `settings.yml` is merged with the core settings. So nest this under `:ems_azure`

[2017-04-12 19:28] djberg96 commented on #45
@durandom Understood, thanks.

[2017-04-21 15:28] durandom opened #56 "move azure specific events"
similar to moving the settings we can also move event names (see [amazon](https://github.com/ManageIQ/manageiq-providers-amazon/pull/163/files) for an example)

[2017-04-25 12:09] djberg96 commented on #45
https://github.com/ManageIQ/manageiq-providers-azure/pull/51

[2017-04-25 12:09] #45 closed

[2017-04-25 12:15] djberg96 commented on #46
@durandom I'll get a PR in today. What about `orchestration_templates`?

[2017-04-25 13:54] durandom commented on #46
@djberg96 cool.

Dont know :) Are they seeded like the dialogs?

[2017-04-25 14:26] djberg96 commented on #46
@bdunne Do you know the answer to that?

[2017-04-25 17:57] bdunne commented on #46
Looks like seeding for that model needs to be updated for plugins as well.  I would expect them to move to `content/orchestration_templates/`.  cc @bzwei

[2017-04-25 18:06] djberg96 commented on #56
Don't we already have it?

https://github.com/ManageIQ/manageiq-providers-azure/blob/master/config/settings.yml#L15-L27

[2017-04-25 18:28] durandom commented on #56
oops, indeed. I guess I looked at a stale clone...
thanks @djberg96

[2017-04-25 18:28] #56 closed

[2017-04-25 18:34] durandom commented on #46
@djberg96 @bzwei do you want to have a look at that?
The dialog.rb and miq_dialog.rb do mostly the same.
Otherwise I'll do it.

[2017-04-25 19:10] bzwei commented on #46
@durandom Go ahead. Thanks!

[2017-05-03 15:19] djberg96 commented on #46
Done!

[2017-05-03 15:19] #46 closed

[2017-05-05 16:21] djberg96 opened #66 "Add StorageManager?"
Currently Azure supports two types of storage - Managed and Unmanaged, but we have no StorageManager to represent this in any way.

While we store disk information, we don't store overall storage information. This currently makes it difficult to distinguish VM's within the app that are managed versus those that are unmanaged.

Ideally, I should be able to tell by doing something like:

    vm.stor

[2017-05-17 20:54] djberg96 opened #69 "Refresh parser should set resource group where possible"
Currently the refresh parser isn't setting the resource group relationship for any resources (except stacks, which uses a string).

We should be setting the relationship so that we can get that information internally via ActiveRecord when needed.

[2017-06-13 15:52] bronaghs opened #77 "Update regions.rb"
Support has been added for new Azure regions, therefore the regions.rb file needs updated to include them:

https://www.changedetection.com/log/microsoft/azure/regions_log.html

[2017-06-13 16:43] djberg96 commented on #77
We already have usgovtexas and usgovarizona, so I'm not sure why they show up as "new" regions. The only regions within the Americas that I see are the DoD regions, which are even more restrictive in terms of what Azure supports. Still want me to add those?

[2017-06-13 16:50] bronaghs commented on #77
Hold off on DoD. Is our regions.rb file up to date with the regions listed on the Azure site?
 https://azure.microsoft.com/en-us/regions/?v=17.23h

[2017-06-13 17:22] djberg96 commented on #77
We don't have some of the european ones, e.g. Germany, but those aren't new. I can add them, though.

[2017-06-13 17:23] djberg96 commented on #77
Actually, I think the locations we don't currently support will require their own `Environment` classes. I'll need to dig.

[2017-06-22 18:03] djberg96 opened #82 "Undefined method private_ip_address"
Saw this in the log today:

[code]

[2017-06-23 20:32] djberg96 opened #83 "get_stack_templates failure"
From http://talk.manageiq.org/t/azure-refresh-issues/2462/5

[code]

[2017-06-23 20:38] djberg96 commented on #83
@bzwei Has this been addressed in newer versions?

[2017-06-23 21:58] bzwei commented on #83
@djberg96 It has already the latest code concerning stack and template parsing. The only possible scenario that would cause the error, i.e., `@data_index[:orchestration_stacks]` is `nil`
in https://github.com/ManageIQ/manageiq-providers-azure/blob/fine/app/models/manageiq/providers/azure/cloud_manager/refresh_parser.rb#L137
will be no stacks and templates at all in the provider.
A simple fix would

[2017-06-23 21:59] bzwei commented on #83
@djberg96 can you address it? Thanks.

[2017-06-25 14:44] djberg96 commented on #83
@bzwei `Hash()` is a bit easier on the eyes. :)

https://github.com/ManageIQ/manageiq-providers-azure/pull/84

[2017-06-25 15:23] djberg96 commented on #82
I'm seeing the failure specifically on a NIC with multiple configurations, e.g. IPv4 and IPv6. It's the second configuration (the IPv6 configuration) that doesn't have a `private_ip_address` property.

[2017-07-06 18:11] #83 closed

[2017-07-06 18:11] #82 closed

[2017-07-06 18:35] djberg96 commented on #77
Leaving open for now, since we want to add China and Germany now.

[2017-07-10 18:07] djberg96 commented on #39
Since explicitly adding it in the raw_connect method I haven't seen this. Closing for now.

[2017-07-10 18:07] #39 closed

[2017-07-10 20:55] 01100010011001010110010101110000 opened #92 "503 while exporting templates"
I'm experiencing 503 errors during refresh for a couple of my subscriptions, one consistently and another intermittently. I found the stack traces for the errors, and they're identical for both subscriptions; they're posted [here](https://pastebin.com/ARh6PZ21)

It doesn't appear that there is anything wrong with the deployment templates that the refresher is attempting to export; I am able to exp

[2017-07-12 20:28] djberg96 commented on #92
I'm not actually sure how we should handle this, as it indicates a problem on the Azure side. This could actually be a scaling issue, possibly because we're making lots of requests under the hood in a short amount of time, something you're not doing with Resource Explorer.

@bzwei Suggestions?

[2017-07-12 21:01] bzwei commented on #92
Can we use armrest gem to export the template from the problematic deployment? If yes, like what you suggested the problem may occur at the condition where lots of requests were made when doing the refresh.

[2017-07-12 21:14] djberg96 commented on #92
@bzwei Not sure what you mean, since it appears to be choking on `get_template` already.

[2017-07-12 21:29] bzwei commented on #92
Try one single `get_template` using armrest gem without doing a refresh.

[2017-07-12 21:32] 01100010011001010110010101110000 commented on #92
I just attempted ```get_template``` on the same template as one of the failed exports, and it worked as expected

[2017-07-13 13:50] djberg96 commented on #92
@bzwei Maybe we should memoize the `get_template` method? How often do the templates change?

[2017-07-17 13:41] 01100010011001010110010101110000 opened #94 "Marketplace Image Support"
As talked about [here](http://talk.manageiq.org/t/deploying-azure-marketplace-images/2521) I'm opening an RFE for marketplace image support. From what I can see this will require:
* Altering ```prepare_for_clone_task``` to parse and accept marketplace URNs
* Adding a method to pull marketplace images to the refresh parser
* Maybe adding something akin to the public image settings and filter found

[2017-07-25 23:56] jteehan commented on #82
Took a half a day but I think I figured it out.  The only way to get an IPV6 attached to a VM is to spin up an entire Load Balancer.  I'll paste the code under a separate pastebin or equivelent.

[----] E, [2017-07-25T17:05:11.235152 #21461:79b134] ERROR -- : MIQ(MiqQueue#deliver) Message id: [31243], Error: [undefined method `subnet' for #<Azure::Armrest::Network::NetworkInterface::Properties::Ip

[2017-08-08 17:42] djberg96 commented on #94
@01100010011001010110010101110000 With https://github.com/ManageIQ/manageiq-providers-azure/pull/95 merged, can you close this?

[2017-08-08 17:42] #94 closed

[2017-08-08 21:11] djberg96 commented on #92
Another option would be a retry with a delay of some sort.

My original plan was to do a HEAD request on the uri and do an MD5 comparison, but apparently Azure doesn't allow it.

[2017-08-08 21:20] djberg96 commented on #92
@01100010011001010110010101110000 Do you see any error's if you just run a plain script like this?

[code]

[2017-08-08 23:34] 01100010011001010110010101110000 commented on #92
I ran this against the same subscriptions I've been having trouble with, and it gave me no errors. That said, I was unable to provide the location key to ```list_all```, it doesn't appear to take any arguments because it's overwritten to use ```list_in_all_groups``` instead of the typical ```list_all``` method a ```ResourceGroupBasedService``` would use

[2017-08-09 13:12] djberg96 commented on #92
That's right, I forgot that template deployments don't have a location attribute. The best we could do would be to filter on the location of the underlying resource group, but I don't think we want to do that since there's no rule in Azure that says a resource group's resources must be in the same region.

In any case, it doesn't appear to be an issue with Azure directly then, but something about

[2017-08-09 13:55] 01100010011001010110010101110000 commented on #92
I tried more closely mimicking the way ManageIQ does this, which is to call ```list``` on the ```tds``` for every resource group; I still received no error.

[2017-08-09 16:02] djberg96 commented on #92
@01100010011001010110010101110000 Is there anything special about your local networking environment? Are you using a proxy for the app by any chance?

[2017-08-09 16:17] 01100010011001010110010101110000 commented on #92
We have a corporate FW which proxies SSL traffic (and does DPI on the proxied SSL and plaintext traffic), but the Azure endpoints are whitelisted and not proxied in that manner.

Should I reboot reboot the appliance via ```appliance_console``` and see what happens on a full refresh?

[2017-08-09 16:20] djberg96 commented on #92
There are some SSL settings you could tinker with for the Configuration object (:ssl_version and :ssl_verify), though I don't know if it will help.

Yes, please try a reboot and see what happens. Couldn't hurt.

[2017-08-10 16:56] djberg96 opened #109 "Add specs for stream.rb"
We're currently at 0% coverage for stream.rb. The Amazon provider has some specs we can probably use as a baseline.

https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/spec/models/manageiq/providers/amazon/cloud_manager/event_catcher/stream_spec.rb

[2017-08-10 16:57] djberg96 opened #110 "Add specs for event_parser.rb"
We are currently at 0% coverage for event_parser.rb. The Amazon provider has some specs we can probably use as a baseline.

[2017-08-14 14:06] 01100010011001010110010101110000 commented on #92
So I bounced the appliance, and the problem subscription has yet to actually refresh. I watched as the refresh workers for each subscription each dialed a cpu core to 100%, and now the box is mostly idle and the refresh workers seem to all be sleeping, so I'm not sure what's occurred.

I'm also experiencing some other issues, such as service requests not being picked up until I restart the applian

[2017-08-14 15:14] djberg96 commented on #92
@01100010011001010110010101110000 Thanks for the update. Yes, definitely see if fine-3 helps at all. On a side note, I'm working on refactoring the underlying azure-armest gem to use faraday + net-http-persistent to see if that helps with speed, memory and general reliability as rest-client just isn't getting much love these days.

We'll see if that translates into improved reliability in general

[2017-08-14 15:15] djberg96 commented on #92
(random side note - I now think of that alt-J song when i look at your username)

[2017-08-14 19:37] 01100010011001010110010101110000 commented on #92
I'm seeing similar behavior on fine-3, the initial refresh for the new appliance has been running for about 3 hours and hasn't completed.

Have you considered using something like EventMachine to make calls asynchronously? It can still be used underneath Faraday, and I think that may help more with the amount of requests that have to be made than keeping a persistent connection and sleeping the th

[2017-08-15 12:47] djberg96 commented on #92
@01100010011001010110010101110000 I haven't tried eventmachine, but it's easy enough to change the adapter. Right now you can look at the "faraday" branch for the azure-armrest gem if you're interested, though it's still in the middle of heavy refactoring and not yet suitable for plugging into your appliance.

[2017-08-16 16:22] chris453 opened #112 "Raise error if VM is generalized when requesting vm to start"
When running a HTTP request for ManageIQ to start a VM in azure will respond with a successful run when checking the status of task. But the VM will not be turned on since the VM is a generalized (image template) and cannot be started.

Error in the evm.log show the error this should be raised to ensure people know the VM is not actually started

 [----] E, [2017-08-16T11:10:07.643788 #2065:2af844

[2017-08-17 15:46] blomquisg opened #113 "Downloading Orchestration Templates during Inventory Refresh can cause worker to exceed memory threshold"
Unfortunately, this is actually a guess right now.  But based on the log snipped below, it looks like the refresher is attempting to download templates when the refresh worker is killed for exceeding the memory threshold.

For this particular customer case, the customer increased the memory threshold and refreshes started working.

However, if there is a significantly large orchestration template

[2017-09-01 20:54] djberg96 commented on #112
This should be doable, though it will require an extra request on the backend because the status information is only available for the instanceView as part of the "status".

[2017-09-02 15:56] #69 closed

[2017-09-05 14:22] djberg96 commented on #113
Some initial attempts to improve this on the backend have been met with frustration. My initial thought was to perform a HEAD request against gallery templates, and compare MD5 values with what we store in our database. Unfortunately, the Azure gallery doesn't seem to allow HEAD requests, instead spitting a 405 at me.

I've also been trying to switch the azure-armrest gem from using rest-client to

[2017-09-19 16:52] djberg96 commented on #77
Germany added, China pending.

[2017-09-19 16:54] djberg96 commented on #92
Just wanted to add a note that in the future, the azure-armrest gem will automatically retry requests in certain circumstances, include 503's.

https://github.com/ManageIQ/azure-armrest/pull/308

[2017-09-19 20:34] 01100010011001010110010101110000 commented on #92
Awesome. This issue hasn't cropped up for me in quite some time, and I never did track down an explanation which I really found satisfactory. The only change I've made to the code on my appliances is disabling unmanaged image gathering, so I wonder if the number of queries that was making is related.

[2017-11-22 20:05] djberg96 commented on #110
I've added some specs as part of https://github.com/ManageIQ/manageiq-providers-azure/pull/171

[2017-11-29 22:20] blomquisg opened #177 "Azure Debug logging does not contain timestamps"
Looking at the `azure.log` with Debug logging on, I see:

[code]

This is useful since it shows the size of the response in bytes.  But, it would be even more helpful if it could also show the timing of each request/response.  Or timestamps for each request/response.

I'm not sure if the logging configuration for `RestClient` can get that.  But, I assume it can, because I believe it should be in t

[2017-11-29 22:22] djberg96 commented on #177
Hm, I thought our logger did that. I'll look into it.

[2017-12-07 20:52] #110 closed

[2017-12-13 16:36] bronaghs opened #188 "Slow connection to Azure provider"
Investigate why connecting to the Azure provider is 3x slower than connecting to the Amazon provider.

[2018-01-10 17:32] juliancheal opened #197 "Missing Tenant ID when creating Provider using API"
When creating an Azure provider using the API which includes via Ansible,
the `tenant_id` doesn't get set. As we're actually storing Azure's `tenant_id` in `uid_ems` internally.

So it should be:
[code]
not
[code]

<img width="535" alt="screen shot 2018-01-10 at 17 26 56" src="https://user-images.githubusercontent.com/63991/34788539-ca23209e-f632-11e7-8a69-1303e72d1a26.png">

[2018-01-10 17:40] juliancheal commented on #197
@miq-bot assign juliancheal

[2018-01-10 18:09] juliancheal commented on #197
If you use:

[code]

Which one would assume would work being as `azure_tenant_id` is an attribute on Azure::CloudManager https://github.com/ManageIQ/manageiq-providers-azure/blob/master/app/models/manageiq/providers/azure/cloud_manager.rb#L21

however this results in this error:

[code]

[2018-01-11 13:11] juliancheal commented on #197
This is being fixed via:

https://github.com/ManageIQ/manageiq-api/pull/279
https://github.com/ManageIQ/manageiq/pull/16802
https://github.com/ManageIQ/manageiq-providers-azure/pull/198

[2018-01-11 14:34] djberg96 commented on #197
As mentioned on gitter, a `tenant_id` is actually an association to the `tenants` table. The `azure_tenant_id` is a string used for Azure authentication.

[2018-01-22 14:48] djberg96 commented on #177
I found this:

https://github.com/rest-client/rest-client/issues/34

So, I think it can be altered with something like this under `lib`:

`$azure_log.define_singleton_method(:<<, lambda{ |msg| log(level, msg.strip) })`

Feels pretty hacky, but I don't see another way.

[2018-03-19 16:55] juliancheal commented on #197
Fixed! 🍰

[2018-03-19 16:55] #197 closed

[2018-03-26 07:19] Ladas commented on #113
https://github.com/ManageIQ/manageiq-providers-azure/pull/220 addresses the issue, for second refresh and beyond. We don't fetch the templates again, unless the Stack has been updated.

For first refresh, the only way is to do a collector, that fetches the data in small chunks and streams it to the persister worker. So it doesn't hold too many things in memory.

[2018-03-26 13:02] 01100010011001010110010101110000 commented on #92
Haven't seen this a single time on `Fine-4` or later, going to go ahead and close.

[2018-03-26 13:02] #92 closed

[2018-03-27 16:03] djberg96 commented on #177
Also see: https://github.com/ManageIQ/manageiq/pull/16904

[2018-03-29 02:52] djberg96 commented on #177
@blomquisg @bronaghs https://github.com/ManageIQ/manageiq/pull/17228

[2018-04-03 18:19] #177 closed

[2018-04-05 14:06] djberg96 commented on #77
Closing this. Germany was added, and other regions can be added as needed/requested.

[2018-04-05 14:06] #77 closed

[2018-04-05 21:48] djberg96 commented on #109
@tumido Feel like taking a stab at this?

[2018-04-05 21:49] djberg96 commented on #112
I'm wondering if generalized vm's should be marked as not being publicly available.

[2018-04-06 09:03] tumido commented on #109
Sure, no problem. I'll take care of it, once I have a bit of time. ;)

[2018-04-06 13:28] tumido commented on #109
@miq-bot assign @tumido

[2018-04-09 13:46] tumido commented on #109
Let's try this again :wink:

@miq-bot assign @tumido

[2018-04-10 11:48] #113 closed

[2018-04-13 15:10] 01100010011001010110010101110000 opened #238 "Must Create RGs per-region"
During VM provisioning, the only allowed RGs are those in the Azure provider, but because the Azure providers are region specific, one must create resource groups for every region. When you have resource groups defined per-app, which is MS recommendation, this doesn't really make sense as the app may be multi-regional, and Azure does not intend for you to make RGs region specific.

I think this co

[2018-04-13 20:53] djberg96 opened #239 "Image name contains leading "./" characters"
I have a private image under a "manageiq" container in one of my storage accounts. The original blob name is "win2k12img.vhd". It should just be parsed out as "win2k12img" but it ends up being "./win2k12img". You can see it in the westus2 region in our dev environment.

~~I suspect~~ it's caused by the `build_image_name` method.

[2018-04-18 20:07] djberg96 commented on #239
Note that fixing this will also require a data migration.

[2018-04-25 06:39] ogaida opened #247 "add Azure Provider over Proxy - does not work"
## my Proxy-Config

![2018-04-24 09_48_23-manageiq_ configuration](https://user-images.githubusercontent.com/3275990/39174385-e19f465a-47a7-11e8-9f5e-0e4026b1cf67.png)

## Result in the miq-Gui

![2018-04-24 09_44_45-manageiq_ cloud providers](https://user-images.githubusercontent.com/3275990/39173935-6a17e5c0-47a6-11e8-9e02-a3992cc776a7.png)

## Content from `/var/log/manageiq/azure.log`

[code]

[2018-04-25 07:46] slemrmartin commented on #247
Hello,
this issue is fixed by PR: https://github.com/ManageIQ/manageiq-ui-classic/pull/3693
It's probably not released yet, but will be soon.

[2018-04-25 08:44] ogaida commented on #247
Hello Martin,

how do I get the information about the release date, so i could update my miq-Installation to check again?

[2018-04-25 19:50] slemrmartin commented on #247
Hello Oliver,
The fix will be included in 5.9.2 and the release date is currently TBD.
Once we have a targeted release date, we will follow up and communicate this to you right away.

[2018-04-27 12:44] ogaida commented on #247
Hello Martin, thank you very much!

[2018-05-03 21:45] djberg96 commented on #238
I personally would like to just dump per-region providers. Exactly what a provider could access (the whole subscription or just specific resource groups) would be controlled by whoever administers the app registrations.

But, that's a pretty radical change, so I don't know how much traction this would get.

[2018-05-03 21:47] djberg96 commented on #188
I don't know how the AWS provider connects, but I suspect part of the issue is the two-part authentication that happens initially for Azure. We make two requests before we can even attempt to collect inventory.

Using rest-client probably doesn't help either, but switching the backend code in azure-armrest is proving difficult.

[2018-05-03 22:10] 01100010011001010110010101110000 commented on #238
I agree, access control should be handled by the RBAC on the service account in the provider, not by MIQ itself.

The current way of doing things makes it somewhat awkward to handle things which span all regions, but I can see that moving away from it would be pretty involved, if the mainline project would even interested. Do you think a hack in `allowed_resource_groups` is acceptable in the short

[2018-05-07 19:59] bsquizz opened #252 "Azure Stack flavor names are case sensitive"
During Azure Stack testing, I tried to deploy a a private image and hit this error:

[code]

Requested vm size was 'standard_a1', and Standard_A1 is in the list. It appears that the flavor name is case sensitive for the Azure Stack APIs.

We could get around this by only storing the uid as `flavor.name.downcase` and keeping the name as-is (see https://github.com/ManageIQ/manageiq-providers-azure/c

[2018-05-07 20:07] djberg96 commented on #252
Quite silly, I would consider that a bug in the Azure API. It shouldn't care. They're already somewhat inconsistent on the issue, e.g. it ignores case for resource groups.

Let me think about how we should handle it.

[2018-05-21 15:22] bsquizz opened #259 "Config options for API versions in Azure Stack"
Azure stack can have a different set of API versions compared to the Azure public clouds. We'll need a way to either discover or set different versions for an Azure Stack provider and make sure that it does not interfere with the Azure providers.

Thoughts on this from @djberg96
[code]

[2018-06-06 19:22] #239 closed

[2018-06-06 19:23] djberg96 commented on #247
Should be fixed, closing.

[2018-06-06 19:23] #247 closed

[2018-06-20 15:29] bronaghs opened #268 "Azure Stack"
Below are the changes required to get the Azure Stack refresh working using the existing Azure Public cloud provider implementation:

- Azure stacks will pin to specific ARM API versions while the Public Cloud provider will use the latest version.  Ensure backward compatibility for stacks on older versions.
- Remove downcase of the flavor name for provisioning to work
- Refactor raw connect to sup

[2018-06-20 18:22] djberg96 opened #270 "Too many marketplace images collected when none are specified"
If a user sets the market place image collection to true, but does not specify any specific images, the app will collect every possible marketplace image.

While thorough, it is not very useful, because it will collect *thousands* of them. The problem isn't that there are really thousands of available images, there are really just a small number of them, but each one has potentially dozens of vers

[2018-06-21 16:37] djberg96 commented on #252
@bsquizz Any chance you could create a BZ for this so I can reference it?

[2018-06-21 18:23] bronaghs commented on #268
Spoke to PM (Brad Ascar). We should detect when an Azure Stack environment upgrades to a new version of an API, inform the user we detected this (maybe in EMS summary screen status field) and start automatically using the new version.

[2018-06-21 21:10] bsquizz commented on #252
https://bugzilla.redhat.com/show_bug.cgi?id=1594013

[2018-07-13 15:00] 01100010011001010110010101110000 opened #277 "Timeouts during refresh cause refresh to crash"
If the refresh process experiences a timeout opening a connection to the Azure API, then the refresh process will crash. I think editing [this logic in the base armrest service class](https://github.com/ManageIQ/azure-armrest/blob/b69ff02ffc474b42873b2caebf835c00cfed0225/lib/azure/armrest/armrest_service.rb#L208-L228) to retry in the case of an `OpenTimeoutException` would help. Also the persisten

[2018-07-13 18:01] djberg96 commented on #252
Should be fixed with #272

[2018-07-13 18:01] #252 closed

[2018-07-13 18:08] djberg96 commented on #277
I don't know that we would want to put that in the azure-armrest gem directly, though we should at least make the timeout configurable: https://github.com/ManageIQ/azure-armrest/pull/302

The timeout handling should be within the provider code IMO.

[2018-07-13 18:10] djberg96 commented on #259
Going with this option instead: https://github.com/ManageIQ/manageiq-providers-azure/pull/275

In short, it will try to use the specified version. If it's invalid, it will use one of the supported api-versions. For cases where the service is not supported, e.g. managed images and disks, it's essentially ignored.

[2018-07-13 18:44] 01100010011001010110010101110000 commented on #277
You're right it would be weird for a REST library to automatically retry a timeout exception like that, even one that's on socket open. Since most everything in the refresher either does a single `list_all` or calls to `gather_data_for_this_region`, do you think it would be a better idea to just wrap each call? It would be repetitive, but I don't think so much that it would make trying to refactor

[2018-07-13 18:57] djberg96 commented on #277
Well, on further review, I think we're sort of already doing that by rescuing a 504. So really an `OpenTimeoutException` should already be getting caught and retried, shouldn't it? Or is the response code different?

[2018-07-13 19:13] 01100010011001010110010101110000 commented on #277
No, a 504 is would be if whatever web server between you and an app is unable to get a response from the app, like if puma was slow when running behind Apache. This `Azure::Armrest::OpenTimeoutException` exception is for when the TCP handshake to the web server can't even be completed, which is done when trying to open a socket to initiate any sort of communication with the Azure API. OpenTimeout

[2018-07-16 18:20] djberg96 commented on #277
@01100010011001010110010101110000 See https://github.com/ManageIQ/manageiq-providers-azure/pull/278. In short, we've already got some hooks in the core AuthenticationMixin:

https://github.com/ManageIQ/manageiq/blob/d101c7997d556f08a7b0747703654ba74915b7da/app/models/mixins/authentication_mixin.rb#L236-L240

[2018-07-16 19:02] 01100010011001010110010101110000 commented on #277
Awesome, that wraps this up all rather neatly.

[2018-07-16 19:02] #277 closed

[2018-07-18 19:37] djberg96 commented on #270
We may have to leave this for now and just add an additional "latest" record for each distinct offer/publisher/sku. The version attribute will actually be set to a value other than "latest" if the user sets it explicitly. It's just that the portal UI always uses "latest" so that's what we were seeing in practice.

[2018-09-20 18:40] djberg96 commented on #66
Closing for now.

[2018-09-20 18:40] #66 closed

[2018-10-31 19:03] djberg96 opened #301 "Unmanaged storage account lookup failure with targeted refresh"
When performing a targeted refresh, unmanaged storage accounts are not necessarily going to be found. At the moment the ref is using the attached VM's resource group instead of the storage account's resource group. If those happen to be different then the lookup will fail.

The end result is that not only will the unmanaged storage account not be refreshed, but its `mode` will get set to null. You

[2018-11-07 17:12] 01100010011001010110010101110000 opened #304 "StandardSSD_LRS managed disks break refresh"
Managed disks with the SKU `StandardSSD_LRS` seem to break Azure refreshes. From what I can tell this affects all MIQ versions from Fine-4 to the Hammer 1.1 beta, [this stack trace](https://gist.github.com/01100010011001010110010101110000/5c510b15675b0e7aed6f8ebf6239ddbf) is from Hammer-1-beta1.1.

I opened this here and not on azure-armrest because I wrote a short script to list all managed disks

[2018-11-07 17:22] djberg96 commented on #304
This was just fixed via https://github.com/ManageIQ/manageiq-providers-azure/pull/300

In that case it appeared to be an imported disk from Hyper-V. For your case, I'm not sure, but I can try to duplicate. If you can debug it that would help me immensely.

[2018-11-07 17:51] djberg96 commented on #304
@01100010011001010110010101110000 BTW, which refresh method are you using?

[2018-11-07 19:33] djberg96 commented on #304
@01100010011001010110010101110000 Which api-version were you using when you tested with azure-armrest? Same one as in config/settings.yml?

[2018-11-07 20:06] 01100010011001010110010101110000 commented on #304
I used the master branch, and the disk service had an api-version of 2018-06-01

[2018-12-13 14:52] miha-plesko opened #314 "No metrics are collected"
I'm trying to get Azure metrics captured on latest master, but there seems to be empty intersection between expected metric names vs obtained metric names, so nothing gets collected. It's possible I'm just having something misconfigured, but can't seem to figure what.

It seems like here in this line:

https://github.com/ManageIQ/manageiq-providers-azure/blob/master/app/models/manageiq/providers/a

[2018-12-18 22:37] djberg96 commented on #314
@miha-plesko Those look new to me. It would seem MS altered the output without requiring an api-version change, so that sucks. Just running a local script I can see the api-version is hard-coded at 2014-04-01.

[2018-12-19 08:57] miha-plesko commented on #314
@djberg96 I understand we currently pick metrics from Micosoft.Storage Table directly. Perhaps MS considers Table structure "private" and thus modifiable at any time even within same API version...

However, there seems to exist another approach, via Microsoft.Monitor provider that offers metrics via REST directly i.e. without messing with Table data, see https://docs.microsoft.com/en-us/rest/api/

[2018-12-19 14:17] djberg96 commented on #314
@miha-plesko I think the main reason is that there weren't exact analogues to the existing metrics. However, they've been adding more over time, so maybe they exist now. If you can find the equivalent metrics using the newer API then please create a PR and we'll switch over.

[2019-01-01 21:54] #259 closed

[2019-01-25 19:01] djberg96 commented on #188
I don't think there's anything we can do about this because of rest-client. Closing for now.

[2019-01-25 19:01] #188 closed

[2019-01-25 19:02] djberg96 commented on #109
@tumido I don't suppose you ever got around to this, did you?

[2019-01-25 19:03] djberg96 commented on #270
@miq-bot remove_label stale

[2019-01-28 13:19] tumido commented on #109
@djberg96 Sorry, it seems I didn't found the bit of time I was looking for. And it managed to slip between my fingers later on... :slightly_frowning_face: Hm.. I don't think I'll be able to help with this anymore.

Apologies and condolences...

[2019-01-28 13:32] djberg96 commented on #109
Ok, closing.

[2019-01-28 13:32] #109 closed

[2019-01-29 13:16] djberg96 commented on #270
Will close for now, and reopen if we come back to this.

[2019-01-29 13:16] #270 closed

[2019-01-29 13:17] djberg96 commented on #238
Going to close for now because this isn't going to change in the foreseeable future. May reopen later.

[2019-01-29 13:17] #238 closed

[2019-01-30 15:11] JPrause commented on #268
@djberg96 is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:12] JPrause commented on #112
@djberg96 is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:58] djberg96 commented on #112
It's still a potential issue, but it's not severe. If there's a BZ I'll work on it, but closing for now.

[2019-01-30 15:58] #112 closed

[2019-01-30 15:59] djberg96 commented on #268
Going to close as another team is working on this now.

[2019-01-30 15:59] #268 closed

[2019-02-27 07:43] e355312410 opened #324 "add china region"
Is it possible to add china region ? thanks .

[2019-02-27 18:51] djberg96 commented on #324
We almost did before, but we didn't have any test credentials.

[2019-02-28 01:39] e355312410 commented on #324
good , mybe i can help for test , (-v-) ....

[2019-02-28 01:39] #324 closed

[2019-02-28 01:43] djberg96 commented on #324
@e355312410 You can follow https://github.com/ManageIQ/manageiq-providers-azure/pull/98 if you need guidance on submitting a PR of your own.

[2019-06-24 10:55] djberg96 commented on #314
Mostly fixed by https://github.com/ManageIQ/manageiq-providers-azure/pull/335. @AlexanderZagaynov is still working on memory metrics. Closing for now.

[2019-06-24 10:55] #314 closed

[2020-01-09 16:19] djberg96 opened #375 "Automatic placement can fail with Azure if required resources aren't available"
Currently if you try to use automatic placement during provisioning it can fail with:

[code]

Where line 166 of cloning.rb is :subnet => {:id => cloud_subnet.ems_ref}, but there is apparently no associated cloud_subnet.

https://gist.github.com/lfu/28a252599b3b7585638f8cc5ed323604

Originally spotted by @lfu

As per @gmcculloug the best placement code is at https://github.com/ManageIQ/manageiq-co

[2020-06-22 15:27] agrare opened #400 "Targeted refresh fails to save with `[TypeError]: can't cast Hash` failure"
[code]

[2020-06-22 16:36] agrare commented on #400
I wasn't able to get a better backtrace than this but it looks like any targeted refresh of an instance might hit this

[2020-06-29 19:13] gtanzillo commented on #301
ping @djberg96

[2020-07-01 18:06] djberg96 commented on #301
@gtanzillo This was something that I discovered, it's not a customer issue, so it's on the backburner for now.

[2020-07-01 18:32] djberg96 commented on #400
@agrare I've not seen this. How/when did you encounter it?

[2020-07-01 20:41] agrare commented on #400
Saw it in the logs on an appliance

[2020-07-13 18:58] gtanzillo commented on #375
ping @djberg96

[2020-07-14 15:13] djberg96 commented on #375
@gtanzillo Well, I'm actually wondering if this is something the UI shouldn't allow. In other words, you can't select a virtual network that doesn't have at least one subnet. I'm not sure if that's something I need to set explicitly in the azure provider workflow, or if that's strictly on the UI side.

[2020-07-20 15:05] agrare commented on #375
Both PRs have been merged

[2020-07-20 15:05] #375 closed

[2020-09-09 17:06] djberg96 commented on #400
@agrare Is that coming from the AR adapter? I can see `/opt/IBM/infrastructure-management-gemset/gems/activerecord-5.2.4.3/lib/active_record/connection_adapters/ab` but it cuts off.

Don't suppose you have the full backtrace do you?

[2020-09-09 17:08] djberg96 commented on #400
So here's the method in question: https://github.com/rails/rails/blob/5-2-stable/activerecord/lib/active_record/connection_adapters/abstract/quoting.rb#L21-L35

Are they using postgres as the database? Is this db2 by any chance?

[2020-09-09 17:22] agrare commented on #400
@djberg96 this was a normal MIQ appliance so it was our postgres database.  Usually this happens when the parser is trying to set an invalid value to a column during targeted refresh so it isn't really related to the low-level activerecord code at all

We aren't able to tell which column from the error but if you're looking to try to reproduce the list of targets it was refreshing would be a place

[2020-09-09 20:45] djberg96 commented on #400
Without more info I'm afraid there's little I can do. All I can tell you is that there's nothing special about the VM name or resource group name. I recreated both just to double check, and it worked fine, so it's some other property.

[2021-01-29 09:07] click2cloud-vivekg opened #433 "Azure Provider Last Refresh Error"
Hi, we are getting an error in the container it failed to encode ASCII-8BIT to UTF-8. These issues occur only in Azure Provider

Failed to encode

"\xEF" from ASCII-8BIT to UTF-8

[----] E, [2021-01-29T08:56:34.850698 #12923:10525fc] ERROR -- : [Encoding::UndefinedConversionError]: "\xEF" from ASCII-8BIT to UTF-8  Method:[block (2 levels) in <class:LogProxy>]
[----] E, [2021-01-29T08:56:34.989466

[2021-02-03 14:31] Fryguy opened #434 "Bad request when getting metrics from koreacentral region"
`
[----] W, [2021-01-26T04:29:11.735097 #7:2b13dbeb395c] WARN -- : MIQ(ManageIQ::Providers::Azure::CloudManage r::MetricsCapture#perf_collect_metrics) Problem collecting metrics for [FILTERED]: [400 ] {"code":"BadRequest","message":"Failed to find metric configuration for provider: Microsoft.Compute, resour ce Type: virtualMachines, metric: Per Disk Read Bytes/sec, Valid metrics: Percentage CPU,Ne

[2021-02-03 14:46] djberg96 commented on #434
As I mentioned privately, if we had a double escape bug, I would think we would've seen it long before now. Without being able to see the request itself it's hard to say what's happening here. The region may be relevant. The first thing to check is that metrics are enabled for their region. I would like to see the output of the following CLI command:

`az provider show -n Microsoft.Insights`

In t

[2021-02-03 14:56] Fryguy commented on #434
I'm trying to see if I can get the full request.  In the meantime I'll ask for that output.

[2021-02-03 16:24] djberg96 commented on #434
I was unable to duplicate this with a standalone script against a VM in the koreacentral region, but our metrics code required some extra steps at the time it was written because of shortcomings in azure-armrest that existed at the time. I'll do a bit more testing.

[2021-02-03 16:28] chessbyte commented on #434
is there a benefit to moving from `azure-armrest` and towards https://github.com/Azure/azure-sdk-for-ruby ?  If so, any idea what level of effort that is?

[2021-02-03 16:43] djberg96 commented on #434
The level of effort would be high IMO. The azure-armrest gem hid some of the pain of stuff like collecting private images. That would have to be rewritten. The sdk is also much clumsier when it comes to api-version handling and locking. And those are just the things I can think of off the top of my head.

[2021-02-03 16:51] djberg96 commented on #434
Ok, I was able to recreate this using methods similar to what we use internally. I'll have to figure out what went wrong and where.

[2021-02-03 18:49] djberg96 commented on #434
I can duplicate it with a simple script like this, since the URL the provider code is cobbling together is basically what the `list_metrics` method does in azure-armrest:
[code]
So either the Azure REST API is not handling commas in the metric name properly, or the name itself is just invalid. It's worked in the past, though, so I'm wondering if something's happened on the Azure side.

[2021-02-03 19:11] djberg96 commented on #434
Actually, the clue was in the error message. The problem isn't the encoding. The problem is that "Per Disk Read Bytes/sec" is not valid. The error message lists the valid metrics, and that's not one of them.

It definitely USED to be, so I'm not sure what's happening. You can see it listed here:

https://techdocs.broadcom.com/us/en/ca-enterprise-software/it-operations-management/application-perfor

[2021-02-03 20:03] djberg96 commented on #434
IMO this is on Microsoft/Azure for removing a metric without tying it to an api-version string. Pretty terrible stuff really.

I only see 2 choices. The first option is to disable disk metrics for now. The second option is to find a suitable replacement, perhaps "OS Disk Read Bytes/sec".

[2021-02-04 13:42] agrare commented on #434
It looks to me like they're trying to replace "Per Disk *" with "OS Disk *" and "Data Disk *" based on what is deprecated and what is preview.

The only metrics I see which isn't split across OS and Data disk are the "Disk Read Bytes" and "Disk Write Bytes".  If these are relative to the timespan and not aggregated could we do what we do on AWS which is basically `disk_usage_rate_average = (disk_r

[2021-02-04 13:43] agrare commented on #434
This might be true, but given they're marked deprecated I doubt we'll convince them to undo this change

[2021-02-09 09:45] djberg96 commented on #434
@Fryguy The link you inserted does not contain a reference to the old metric.

[2021-02-09 14:04] Fryguy commented on #434
It did when I posted it.  It seems Microsoft got around to removing it from the documentation.

[2021-02-09 14:11] djberg96 commented on #434
Which is why I didn't use their link. It's like 1984 with them.

[2021-02-09 14:13] agrare commented on #434
So we've established that the metric we're trying to use doesn't exist anymore

[2021-02-09 14:15] Fryguy commented on #434
Right, regardless of what link is posted we

1. Need a replacement or to remove the code
2. Need to understand why %252C is showing up, as it feels more coincidental that the missing metric was the one with the %252C, and hopefully reproduce _that_

[2021-02-09 14:16] agrare commented on #434
https://github.com/ManageIQ/manageiq-providers-azure/issues/434#issuecomment-773311072 maybe?

[2021-02-16 20:15] #434 closed

[2021-02-17 18:56] agrare opened #438 "Azure all_valid_ems_in_zone does an Azure API call every sync_workers loop"
The Azure Provider only starts event_catchers if the `Microsoft.Insights` resource provider is registered.  This is done by calling [`insights?`](https://github.com/ManageIQ/manageiq-providers-azure/blob/master/app/models/manageiq/providers/azure/cloud_manager.rb#L42-L48) which is called by the [`supports?(:timeline)`](https://github.com/ManageIQ/manageiq-providers-azure/blob/master/app/models/man

[2021-02-17 19:14] agrare commented on #438
https://github.com/ManageIQ/manageiq/issues/21061

[2021-02-17 20:26] Fryguy commented on #438
As a tactical fix, if we can't get all the capabilities work in time, I recommend using a cache_with_timeout of maybe 1.hour

[2021-02-17 21:25] jrafanie commented on #438
From chat with @agrare:

`insights?` is referenced as being a problem but, I'm finding that the time is pretty bad just connecting to the provider...

For example, here's what `insights?` looks like in the environment that opened this issue:

[code]

But, just connecting is bad:

[code]

It turns out, raw_connect creates a [Azure::Armrest::Configuration passing a subscription_id in the options](ht

[2021-02-17 21:48] #438 closed

[2021-02-17 21:49] Fryguy commented on #438
@agrare On an upgrade, this value is going to default to nil, so until they re-verify, they won't have a valid value.  Is that a problem?

[2021-02-17 21:52] agrare commented on #438
We do an auth check every hour and I think we do one on startup but I'll have to verify that

[2021-02-17 21:53] Fryguy commented on #438
If we do one at startup then we are good.

[2021-02-17 22:03] agrare commented on #438
Worker startup actually checks it, I cleared the `ems.capabilities` and started the azure event_catcher and it checked `Microsoft.Insights` and started up properly.

[2021-02-18 17:52] Fryguy commented on #433
@click2cloud-vivekg any updates?

[2021-02-19 04:10] #433 closed

[2021-02-19 04:11] click2cloud-vivekg commented on #433
Its working for me

[2021-02-23 17:37] chessbyte opened #442 "[RFE] Support Azure Kubernetes Service (AKS)"
Add support for [Azure Kubernetes Service (AKS)](https://azure.microsoft.com/en-us/services/kubernetes-service/) to ManageIQ

[2021-02-23 17:52] chessbyte opened #443 "Refactor to use Microsoft azure-sdk-for-ruby"
We currently use [Azure Armrest gem](https://github.com/ManageIQ/azure-armrest) that was developed by ManageIQ.  To minimize support burden, we should switch to [Azure SDK](https://github.com/Azure/azure-sdk-for-ruby) supported by Microsoft.

[2021-02-23 18:59] djberg96 commented on #443
Just so you know what features azure-armrest has that you will have to reimplement using the SDK:

https://github.com/ManageIQ/azure-armrest/wiki/About-This-Library#some-features-of-note

There may be others I'm forgetting, but that's a start.

[2021-03-08 20:12] spicoli9000 opened #445 "SSA failure during perform_metadata_scan"
Error with SSA running docker versions: manageiq/manageiq:jansa-3, latest-jansa, latest-kasparov.
SSA worked on ivanchuk-8

**Logs from testing with latest-jansa:**
`
{"@timestamp":"2021-03-08T19:42:23.140337 ","hostname":"a2569443fbda","pid":3970,"tid":"2ac3751af94c","level":"debug","message":"Q-task_id([job_dispatcher]) MIQ(ManageIQ::Providers::Azure::CloudManager::Vm#perform_metadata_scan) name

[2021-03-11 17:52] Fryguy commented on #445
@chessbyte Could this have been affected by your relatively recent refactoring?  I can't remember when that landed, but this issue is present in >= jansa-3, according to the OP.

[2021-03-18 16:37] spicoli9000 opened #446 "Error on metrics capture - Disk Read Bytes/sec and Per Disk Write Bytes/sec"
Was not able to get Azure metrics working on jansa-3 docker image.
After debugging and finding url call and manually running, received error:
GET /subscriptions/7cde102a-5170-451c-846b-354f7b677b95/resourceGroups/myapp-rg/providers/Microsoft.Compute/virtualMachines/ansible-vm3/providers/microsoft.insights/metrics?timespan=2021-03-18T10%3A48%3A26Z%2F2021-03-18T11%3A42%3A12Z&interval=PT1M&metricname

[2021-03-18 16:40] agrare commented on #446
@spicoli9000 this looks like a duplicate of https://github.com/ManageIQ/manageiq-providers-azure/issues/434 which was resolved by https://github.com/ManageIQ/manageiq-providers-azure/pull/436

[2021-03-19 22:25] Fryguy commented on #446
Duplicate of #434

@spicoli9000 if you think this is not correct, please reopen

[2021-03-19 22:25] #446 closed

[2021-03-31 21:21] evertmulder opened #451 "Refresh fails with error: "\xEF" from ASCII-8BIT to UTF-8, podified"
Hi,

when using the Azure provider from ManageIQ Kasparov-1 the refresh is always failing with this error:
`"\xEF" from ASCII-8BIT to UTF-8`. We are using the podified version running on Kubernetes.

I also tried the azure provider on a Jansa appliance. Here the refresh works without issues.
Then I also tried the azure provider on a Kasparov-1 appliance. Here the refresh works without issues.

I'm

[2021-04-01 12:36] agrare commented on #451
Ah perfect the right backtrace!  Thanks @evertmulder

This looks like the same issue as https://github.com/ManageIQ/manageiq-providers-azure/issues/433

[2021-04-01 12:40] agrare commented on #451
So that is coming from https://github.com/ManageIQ/manageiq-providers-azure/blob/e483ca2543bf/app/models/manageiq/providers/azure/inventory/collector/cloud_manager.rb#L38
It appears there is binary data coming back in the exception message from azure when listing all private images for the region.

Are you able to reproduce this often?

[2021-04-01 15:23] evertmulder commented on #451
well in the containerized manageiq I did not have a successful refresh ever. The appliance works every time using the same azure subscription and sp.

[2021-04-01 18:14] agrare commented on #451
Oh that's interesting I wasn't expecting that.  Do you see anything in the `azure.log` ?  Could you try `Base64.encode64(err.message)` so we can see what the exception message is

[2021-04-03 17:32] evertmulder commented on #451
Yes the azure log give me a 400

[code]

I will try to get the `Base64.encode64(err.message)` but is a bit hard inside the container. (RO filesystem...)

[2021-04-03 19:00] agrare commented on #451
That's perfect @evertmulder thank you, there are a couple of chars before the start of the XML doc: `\xEF\xBB\xBF<?xml version=\"1.0\"` that are forcing it to not be encoded with utf-8.

[2021-04-20 16:57] agrare commented on #451
This can be closed when https://github.com/ManageIQ/azure-armrest/pull/406 is released

[2021-04-20 17:34] agrare commented on #451
@evertmulder please update azure-armrest to v0.11.0 and retest when you get a chance, thanks!

[2021-04-20 17:34] #451 closed

[2021-08-20 17:16] #442 closed

[2021-08-20 17:22] chessbyte opened #469 "Add Support for Azure Cloud Databases"
- [x] [SQL Server](https://github.com/ManageIQ/manageiq-providers-azure/pull/464)
- [x] [PostgreSQL](https://github.com/ManageIQ/manageiq-providers-azure/pull/465)
- [x] [MySQL](https://github.com/ManageIQ/manageiq-providers-azure/pull/466)
- [x] [Maria](https://github.com/ManageIQ/manageiq-providers-azure/pull/467)

[2021-08-24 22:39] kbrock commented on #469
cool. is this all set to close?

[2021-11-16 17:51] agrare opened #479 "A failing Azure SSA scan doesn't delete the snapshot"
When an Azure SSA scan fails the `process_abort` doesn't cleanup the snapshot, causing future scans to fail with "Failed to create evm snapshot" "Another SSA request for this VM is in progress or a previous one failed to clean up properly."

[2021-11-19 21:20] Fryguy opened #481 "UAE regions are missing"
Seems we need to refresh this.

I had a side-thought...I like that we come out of the box with pre-known regions.  When we do get credentials, however, if we find they are good, could we query for the regions list and merge it into the pre-known regions list?  Or is that not possible because they are on different workers?

[2021-11-19 22:03] agrare commented on #481
:+1: https://github.com/ManageIQ/manageiq-providers-azure/pull/482 adds all of the current regions (including the two UAE ones) as well as a rake task to update them automatically in the future

[2021-11-22 14:52] #479 closed

[2021-11-22 18:36] #481 closed

[2022-08-04 15:33] agrare commented on #400
A community user has been hitting this reliably and we have a better backtrace, the error isn't on save it is actually querying for related inventory early in the targeted collection:

[code]

[2022-08-05 18:55] #400 closed